:root {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;  
  background-image: linear-gradient(rgb(0, 0, 0), rgba(250, 250, 250, 0));
  position: fixed;
}

.todo-el-menu {
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}

.todo-el-menu ul {
  padding: 0;
  list-style-type: none;
}

.todo-el-menu a {
  text-decoration: none;
  color: #ffffff;
  padding: 12px;
  border-radius: 2px;
}

.todo-el-menu a:hover {
  background-color: red;
  transition: 0.4s;
}

.paginaActiva {
  background-color: rgb(248, 99, 99);
}


/* Slider */

.slider-nosotros {
  width: 100%;
  height: 58%;
  background: url(../img/Nosotros/bg_quienes.jpg);
  background-size: cover;
  background-position: center center;
}

.section1 {
  margin: 0px;
  padding: 20px;
  text-align: center;
}

.titulo-red {
  margin: 0px;
  font-weight: 300;
  padding-top: 20px;
  font-style: normal;
  color: rgb(206, 6, 6);
}

.subtit-1 {
  padding-left: 15%;
  padding-right: 15%;
  padding: 10px;
  font-family: "Ubuntu", serif;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: normal;
}

.t-2 {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 25px;
  font-size: 1.3em;
  font-weight: 100;
  font-style: normal;
  color: rgb(0, 0, 0);
  text-align: justify;
  line-height: 35px;
}

.t-3 {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 25px;
  font-family: "Ubuntu", serif;
  font-size: 1.2em;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
  line-height: 35px;
  color: rgb(79, 76, 76);
}


.div-videos {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-left: 15%;
  padding-right: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.div-video {
  margin: 0px;
  /* flex-wrap: wrap; */
  flex: 1 450px;
}

.div-video:hover {
  transform: translateY(-10px);
}

.titulo-red2 {
  margin: 0px;
  padding: 20px;
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
  color: #cc203b;
  font-size: 2.2rem;
}

.titulo-red3 {
  margin: 0;
  padding: 0;
  /* padding-left: 30px; */
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
  color: #cc2038;
  font-size: 2rem;
  /* text-align: left; */

}

.t-4 {
  margin: 0;
  padding: 0;
  line-height: 35px;
  padding: 20px 20px 20px 20px;
}

.div-enlace {
  margin: 0;
  padding: 0;
  padding-left: 0px;
  padding-right: 0px;
  /* background-color: #ef60d2; */
  /* text-align: center; */
  /* align-content: center; */

  /* position: absolute; */
  width: 110px;
  /* height: 150px; */
  border: 2px solid rgb(206, 6, 6);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-bottom: 0px;

}

.div-enlace:hover {
  border: 5px solid greenyellow;
  border-radius: 5px;
  background-color: rgb(138, 253, 161);
}

.t-enlace {
  padding: 10px;
  padding-left: 20px;
  /* display: flex;
  justify-content: center; */

  /* background-color: aqua; */
  /* text-align: left; */
  /* border: 3px solid red; */
  /* border-bottom: 2px solid red; */
  color: rgb(206, 6, 6);
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  text-align: right;
  /* border: 3px solid rgb(206, 6, 6); */
}

.t-enlace:hover {

  color: green;
  font-size: 1.3rem;
  /* transform: scale(1.1); */
}

.tarj-desayuno{
  padding-top: 20px;
  padding-bottom: 20px;
}









/* general */














.inner {
  margin: 0;
  padding: 0;
  width: 100%;

  /* padding: 10px 20px; */

  background-color: rgb(245, 249, 237);
  /*   color: rgba(206, 6, 6); */
  /* display: flex; */
  justify-content: center;
  text-align: center;

  align-items: center;

}

iframe {
  /* padding: 10px 10px; */
  width: 80%;
  text-align: center;
}



.foot {

  margin: 0;
  background-color: rgb(120, 118, 118);
  color: rgb(255, 250, 250);
  font-family: "Ubuntu", serif;
  font-style: normal;






}

.foot-location {
  text-align: left;
}

.t-foot {
  font-family: monospace;
  text-align: center;
}






/* PAGINA HABITACIONES  GENERAL */





.titulo-pagina {
  background-color: rgb(255, 220, 185);
  padding-bottom: 30px;
}


/* .container-habitaciones {
  background-color: rgb(255, 220, 185);
  margin: 0;
  width: 100%;

  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  flex: auto;

  font-family: "Ubuntu", serif;

  padding-bottom: 40px;
} */


/* .target-habitacion {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 3px solid rgba(136, 137, 134, 0.5);
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  justify-content: center;
} */














.h-tipo {
  /* font-family: "Ubuntu", serif; */
  padding: 15px;
  color: rgb(206, 6, 6);
  /* pant grande */
  font-size: 1.6rem;
  font-weight: 400;
}

.h-servicios {

  padding: 5px;
  color: rgb(61, 60, 60);
  /* font-family: "Ubuntu", serif; */
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
}




















/* .ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
} */

/* .ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
} */

/* .ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
} */

/* .ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
} */

/* .ubuntu-light-italic {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: italic;
} */

/* .ubuntu-regular-italic {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
} */

/* .ubuntu-medium-italic {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: italic;
} */

/* .ubuntu-bold-italic {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: italic;
} */


/* .target-hab-info {
  width: 50%;
  display: flex;
}
.target-hab-info1 {
  margin: 0;
  padding: 10px;
  text-align: left;
  width: 50%;
  display: flex 1;
  flex: auto;
  justify-items: left;
  padding-bottom: 10px;
}
.target-hab-info2 {
padding: 10px;
width: 50%;
justify-items: center;
display: flex 1;
}
.h-valoracion {
background-color: rgb(245, 246, 209);
border-radius: 15px;
padding: 20px;
color: rgb(0, 0, 0);
font-size: 1.1rem;
font-weight: 400;
}
.h-desde {

padding: 40px 0px 0px 0px;
color: rgb(206, 6, 6);
font-size: 1.1rem;
font-weight: 400;
}
.h-precio {
padding: 20px 0px 40px 0px;
color: rgb(50, 50, 50);
font-weight: 300;
font-style: normal;
font-size: 1.1rem;
} */




/* .div-enlace-res:hover {
  border: 5px solid greenyellow;
  border-radius: 10px;
  background-color: rgb(138, 253, 161);
} */

/* .t-enlace-res {
  padding: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: center;

 
  color: rgb(206, 6, 6);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
 
} */

/* .t-enlace-res:hover {

  color: green;
  font-size: 1.4rem;
} */









































/* Pantallas pequeñas */

@media (max-width:967px) {

  .nav {
    display: none;
  }

  body {
    margin: 0;
    /* background-color: rgb(120, 249, 95); */
  }

  header {
    padding: 0;
  }

  .todo-el-menu {
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .logo-hamb {
    padding: 15px;
  }

  .logo-hamb img {
    width: 130px;
  }

  .ico-hamb {
    padding: 0px;
    padding: 25px;
  }

  .ico-hamb i {
    padding: 5px;
    color: white;
    font-size: 2.5rem;
    display: block;
    cursor: pointer;
  }




  /* Menu styles */

  .conmutador {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 0.5rem; */
  }

  input#menu {
    display: none;
  }

  .menu-enlaces {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    background-color: #00000010;
  }

  .nav-opcion {
    width: 100%;
    padding: 0px;
    display: flex;
  }

  .nav-opcion a {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: 400;
  }

  /* efecto alternancia */

  input:checked~.menu-enlaces {
    max-height: 100%;
  }

  /* section slide */

  .titulo-red {
    padding: 15px;
    font-size: 2.5rem;
    font-weight: 300;
  }

  .subtit-1 {
    padding-left: 5%;
    padding-right: 5%;
    padding: 10px;
    font-size: 1.1rem;
  }

  .titulo-red2 {
    font-size: 2.1rem;
  }

  .titulo-red3 {
    font-size: 2rem;
  }

  .t-2,
  .t-3 {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.3rem;
    font-weight: 200;
    font-style: normal;
    text-align: justify;
    line-height: 30px;
    color: rgb(117, 117, 117);
  }

  video {
    /* min-width: 400px; */
    width: 450px;
    /*     min-height: 600px; */
    height: 650px;

  }

  .div-videos {
    /* padding: 50px; */
    /* padding-left: 3%; */
    /* padding-right: 3%; */
    align-items: center;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  .div-video {
    /* background-color: #cc20ac; */
    /* padding-left: 3%; */
    text-align: center;
    /* padding-right: 3%; */
    /* min-width: 450px; */
    width: 700px;
    padding-bottom: 10px;
  }


  
  .tarj-desayuno{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
  }

  .div-servicios {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .div-serv-img {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 90%;
  }
  
  

  

  .div-serv-img img {
    width: 100%;
    height: 100%;    
  }

  .div-serv-text {
    padding: 0;
    width: 85%;
    /* display: flex; */
    /* justify-items: center; */
    text-align: justify;
  }



  .t-4 {
    font-family: "Ubuntu", serif;

    /* padding: 40px 10px 40px 20px; */
    /* padding-left: 3%;
    padding-right: 3%; */
    font-size: 1.2rem;
    font-weight: 300;
    font-style: bold;
    text-align: justify;
    line-height: 30px;
  }






  /* DE PAGINA HABITACIONES */


  .container-habitaciones {
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 220, 185);
  }

  .target-habitacion {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .target-hab-img {
    margin: 0;
    padding: 0px;
    width: 98vw;
  }

  .target-hab-img img {
    padding: 0px;
    width: 95%;
  }

  .target-hab-info {
    /* background-color: beige; */
    margin: 0;
    padding: 0px;
    width: 93vw;
    display: flex;
    text-align: center;
  }

  .target-hab-info1 {
    /* background-color: aquamarine; */
    margin: 0;
    padding: 0px;
    padding: 15px;
    padding-left: 20px;
    width: 50%;
    justify-items: left;
  }

  .target-hab-info2 {
    /* background-color: rgb(214, 214, 241); */
    margin: 0;
    padding: 15px;
    width: 43%;
    justify-items: center;
  }

  .h-valoracion {
    background-color: rgb(255, 255, 145);
    border-radius: 25px;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-weight: 400;
  }

  .h-desde {
    padding: 40px 0px 0px 0px;
    color: rgb(206, 6, 6);
    font-size: 1.1rem;
    font-weight: 400;
  }

  .h-precio {
    padding: 20px 0px 40px 0px;
    color: rgb(50, 50, 50);
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem;
  }

  .div-enlace-res {
    padding: 40;
    width: 120px;
    border: 3px solid rgb(206, 6, 6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  .div-enlace-res:hover {
    border: 5px solid rgb(255, 255, 145);
    border-radius: 10px;
    background-color: rgb(138, 253, 161);
  }

  .t-enlace-res {
    padding: 10px;
    padding-left: 20px;
    color: rgb(206, 6, 6);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
  }

  .t-enlace-res:hover {
    color: green;
    font-size: 1.4rem;
  }







  /* DE LA PAGINA INDEX */
  .foot {
    padding: 2px;
    /* height: 20vh; */
    font-weight: 200;
    font-size: .9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
  }

  .logo-foot {
    max-width: 120px;
  }

  .ico-foot {
    max-width: 70px;
  }

  .t-foot {
    padding: 10px;
    font-size: .8rem;
    /* height: 30px; */
  }

}










































/* pantallas grandes  */

@media (min-width: 968px) {



  .ico-hamb {
    display: none;
  }

  .logo-hamb {
    display: none;
  }

  .conmutador {
    display: none;
  }

  header {
    height: 20%;
  }

  .todo-el-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .todo-el-menu a {
    padding: 11px;
    border-radius: 2px;
  }

  .nav-menu {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }

  .nav-opcion {
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

  }

  .nav-opcion a {
    font-weight: 400;
    font-size: 1.1rem;
  }

  .nav-logo img {
    padding: 10px;
    width: 150px;
  }


  /* Section slide */

  .titulos {
    padding-top: 30px;
    text-align: center;
  }

  .titulo-red {
    padding: 15px;
    font-size: 2.7rem;
    font-weight: 100;
  }


  video {
    width: 300px;
    height: 580px;
  }

  .div-servicios {
    margin: 0;
    padding: 0;
    padding-top: 30px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  
  .div-serv-img {
    margin: 0;
    padding: 0;
    max-width: 50%;
    
    flex-wrap: wrap;

  }

  .div-serv-img img {
    width: 100%;
    height: 100%;
  }

  .div-serv-text {
    width: 45%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
  }





  .t-4 {
    font-family: "Ubuntu", serif;

    padding: 40px 20px 30px 20px;
    /* padding-left: 3%;
    padding-right: 3%; */
    font-size: 1.25rem;
    font-weight: 400;
    font-style: bold;
    text-align: justify;
    line-height: 35px;
    /* padding-bottom: 30px; */


  }


  /* DE PAGINA HABITACIONES */

  .container-habitaciones {
    margin: 0;
    /* padding: 0px 0px 0px 0px; */
  }



  /* de pagina habitaciones */
  .target-habitacion {



    margin: 0;
    padding: 0;
    /* padding-top: 80px;  */
    width: 80%;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;


    /* min-width: 920px; */
    /* height: 350px; */
  }



  .target-hab-img {
    margin: 0;
    padding: 0;
    max-width: 45%;
    /* width: 100%; */
    /* display: flex; */

    border: 10px solid white;
    border-radius: 15px;

    flex-wrap: wrap;
  }

  .target-hab-img img {
    padding: 0px;
    width: 100%;
    /* justify-content: left; */
  }







  .target-hab-info {
    width: 50%;
    /* padding-left: 0px; */
    display: flex;
    /* justify-items: left;
    text-align: left; */
  }



  .target-hab-info1 {
    margin: 0;
    padding: 10px;
    /* padding: 15px; */
    text-align: left;
    width: 50%;
    display: flex 1;
    flex: auto;
    justify-items: left;
    /* text-align: left; */
    padding-bottom: 10px;
    /* padding-left: 0px; */
    /* padding-left: 0px; */
    /* text-align: left; */
    /* width: 50%; */
    /* width: 45%; */
    /* display: flex 1; */
    /* justify-items: center; */
    /* text-align: center; */
    /* padding-bottom: px;     */
  }

  /* para llevar a grandes desde aqui */
  .target-hab-info2 {
    /* background-color: rgb(214, 214, 241); */
    padding: 10px;
    /* text-align: center; */
    /* align-items: center; */
    /* align-content: center; */
    width: 50%;
    /* flex: auto; */
    /* flex-direction: column; */
    justify-items: center;
    /* align-items: center; */
    /* justify-content: center; */
    display: flex 1;
  }

  .h-valoracion {
    background-color: rgb(245, 246, 209);
    border-radius: 15px;
    padding: 20px;
    /* font-family: "Ubuntu", serif; */

    color: rgb(0, 0, 0);

    /* pant grande */
    font-size: 1.1rem;
    font-weight: 400;
  }

  .h-desde {
    /* font-family: "Ubuntu", serif; */
    padding: 40px 0px 0px 0px;
    color: rgb(206, 6, 6);
    /* pant grande */
    font-size: 1.1rem;
    font-weight: 400;
  }

  .h-precio {

    /* padding: 20px; */
    padding: 20px 0px 40px 0px;
    color: rgb(50, 50, 50);
    /* font-family: "Ubuntu", serif; */
    font-weight: 300;
    font-style: normal;
    font-size: 1.1rem;
  }



  .div-enlace-res {

    padding: 40;
    /* padding-left: 10px;
  padding-right: 10px; */
    /* background-color: #ef60d2; */
    /* text-align: center; */
    /* align-content: center; */

    /* position: absolute; */
    width: 120px;
    /* height: 150px; */
    border: 3px solid rgb(206, 6, 6);
    border-radius: 10px;

    display: flex;
    justify-content: center;

  }

  .div-enlace-res:hover {

    border: 5px solid greenyellow;
    border-radius: 10px;
    background-color: rgb(138, 253, 161);
  }

  .t-enlace-res {
    padding: 10px;
    padding-left: 20px;
    /* display: flex;
  justify-content: center; */

    /* background-color: aqua; */
    /* text-align: left; */
    /* border: 3px solid red; */
    /* border-bottom: 2px solid red; */
    color: rgb(206, 6, 6);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    /* border: 3px solid rgb(206, 6, 6); */
  }

  .t-enlace-res:hover {

    color: green;
    font-size: 1.4rem;
  }



  .foot {
    padding: 20px;
    height: 25%;
    font-weight: 200;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
  }

  .logo-foot {
    max-width: 180px;
  }

  .ico-foot {
    max-width: 100px;
  }



  .t-foot {
    padding: 10px;
    font-size: 1rem;
    /* height: 30px; */
  }

}