:root {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.slider {
    /* position: relative; */
    width: 100%;
    height: 50%;
    background: url(../img/reservas/Habitaciones-single.jpg);
    background-size: cover;
    background-position: center center;
}




/* Seccion Titulos */

.titulos {
    padding: 1%;
    text-align: center;
    background-color: rgb(172, 245, 220);    
    text-align: center;
    align-content: center;
}

.titulo-red {
    /* padding: 10px; */
    font-size: 2.5rem;
    font-weight: 100;
    color: rgb(206, 6, 6);
    text-align: center;
    background-color: blue;
}

.para-centrar {
    padding: 1%;
    display: flex;
    justify-content: center;
}

.cuadro-info {
    /* padding: 45px; */
    background-color: rgb(255, 255, 159);
    width: 90%;
    padding: 15px;
    border: 4px solid rgb(240, 19, 19);
    border-radius: 15px; 
    text-align: justify;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}





.contenedor-reservando {
    margin: 0;
    /* padding: 20px 30px 20px 30px; */

    /* padding-left: 30px;
    padding-right: 30px; */
    /* display: grid; */
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* -ms-grid-column-align: center; */
    /* place-items: center; */
    gap: 30px;
    /* border: 55px rgb(14, 14, 14); */
    background-color: rgb(175, 207, 234);
}

.target-reservando {
    width: 90%;
    margin: 0px;
    /* width: 1100PX; */
    /* height: 340px; */
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 3px rgba(76, 75, 75, 0.2);
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */

}











.todo-el-menu {
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    /*transforma a mayusculas*/
}

.todo-el-menu ul {
    padding: 0;
    list-style-type: none;
}

.todo-el-menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 12px;
    border-radius: 2px;
}

.todo-el-menu a:hover {
    background-color: red;
    transition: 0.3s;
}







.nota {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.div-enlace-res {
    width: 100px;
    border: 3px solid rgb(206, 6, 6);
    border-radius: 19px;
    display: flex;
    justify-content: center;


}

.div-enlace-res:hover {
    margin: 0;
    border: 5px solid rgb(127, 255, 0);
}

.div-enlace-res a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    padding: 4px;
    color: rgb(206, 6, 6);
    font-size: 0.9rem;
    font-weight: 500;
}


.div-enlace-res a:hover {
    color: rgb(41, 75, 7);
    background-color: rgba(255, 255, 255, 0);
    font-weight: 500;
    scale: 1.2;
}






/* pantallas grandes  */

@media (min-width: 968px) {

    .ico-hamb {
        display: none;
    }

    .logo-hamb {
        display: none;
    }

    .conmutador {
        display: none;
    }

    header {
        height: 20%;
    }

    .todo-el-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .todo-el-menu a {
        padding: 11px;
        border-radius: 2px;
    }

    .nav-menu {
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .nav-opcion {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    .nav-opcion a {
        font-weight: 400;
        font-size: 1.1rem;
    }

    .nav-logo img {
        padding: 10px;
        width: 150px;
    }







}

























/* Pantallas pequeñas */

@media (max-width:967px) {

    .nav {
        display: none;
    }

    header {
        padding: 0px;

    }

    .todo-el-menu {
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .logo-hamb {
        padding: 15px;
    }

    .logo-hamb img {
        width: 130px;
    }

    .ico-hamb {
        padding: 0px;
        padding: 25px;
    }

    .ico-hamb i {
        padding: 5px;
        color: white;
        font-size: 2.5rem;
        display: block;
        cursor: pointer;
    }

    /* Menu styles */

    .conmutador {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    }

    input#menu {
        display: none;
    }

    .menu-enlaces {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
        background-color: #00000010;
    }

    .nav-opcion {
        width: 100%;
        padding: 0px;
        display: flex;
    }

    .nav-opcion a {
        width: 100%;
        padding: 20px;
        text-align: center;
        font-weight: 400;
    }


    /* efecto alternancia */

    input:checked~.menu-enlaces {
        max-height: 100%;
    }

    .titulos {
        padding-top: 20px;
        text-align: center;
    }

    .subtitulo {
        padding-top: 25px;
        font-size: 0.9rem;
    }

    .t-2,
    .t-3 {
        padding-left: 3%;
        padding-right: 3%;
        font-size: .9rem;
        font-weight: 400;
        font-style: bold;
        text-align: justify;
        line-height: 25px;
    }
}