:root {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Ubuntu, serif;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: rgb(246, 174, 174); */


}

header {
  margin: 0;
  width: 100%;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(250, 250, 250, 0));
  position: fixed;
}

.todo-el-menu {
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}

.todo-el-menu ul {
  padding: 0;
  list-style-type: none;
}

.todo-el-menu a {
  text-decoration: none;
  color: #ffffff;
  padding: 12px;
  border-radius: 2px;
}

.todo-el-menu a:hover {
  background-color: red;
  transition: 0.5s;
}

.paginaActiva {
  background-color: rgb(248, 99, 99);
}


/* slider */


.slider-habitaciones {
  width: 100%;
  height: 59%;
  background: url(../img/Servicios/bg_contacto.jpg);
  background-size: cover;
  background-position: center center;
}


.titulos {
  text-align: center;
}

.titulo-red {
  color: rgb(206, 6, 6);
  text-align: center;
}

.subtitulo {
  text-align: center;
}

/* .titulo-pagina {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 220, 185);

} */

/* .titulo-red-pag {
  margin: 0;
  color: rgb(206, 6, 6);
  text-align: center;
  
}

.subtitulo {
  margin: 0;
 
} */

.texto {
  margin: 0;
  text-align: justify;
  font-style: normal;
  color: rgb(0, 0, 0);
  background-color: aliceblue;
}

.container-servicios {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 20px 30px 20px 30px; */
  /* background-color: rgb(165, 127, 255); */
}

.serv-img {
  margin: 0;
  /* max-width: 45%; */
  /* flex-wrap: wrap; */
  /* background-color: azure; */
}

.serv-img img {
  margin: 0;
  /* width: 100%; */

}

.serv-texto {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 15px;
  /* background-color: bisque; */
}

.serv-text-tit {
  display: flex;
  margin: 0px;

  /* padding-left: 30px; */

  /* font-weight: 400;
  font-style: normal;
  color: #cc2038;
  font-size: 2.2rem; */

}

.serv-text-text {

  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 0px 30px 0px 0px; */
  /* padding: 40px 10px 40px 20px; */


  /* background-color: aquamarine; */
  /* font-size: 1.1rem; 
    line-height: 30px; */
}




.foot {

  margin: 0;
  background-color: rgb(120, 118, 118);
  color: rgb(255, 250, 250);
  font-family: "Ubuntu", serif;
  font-style: normal;
  width: 100%;
}

.foot-location {
  text-align: left;
}

.t-foot {
  font-family: monospace;
  text-align: center;
}







































/* CHICAS - nav div CHICAS img logo ico target- h- */


/* Pantallas pequeñas */

@media (max-width:967px) {

  .nav {
    display: none;
  }

  .todo-el-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .logo-hamb {
    padding: 15px;
  }

  .logo-hamb img {
    width: 130px;
  }

  .ico-hamb {
    margin: 0;
    padding: 25px;
  }

  .ico-hamb i {
    margin: 0;
    padding: 5px;
    color: white;
    font-size: 2.5rem;
    display: block;
    cursor: pointer;
  }


  /* Menu styles */

  .conmutador {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }

  input#menu {
    display: none;
  }

  .menu-enlaces {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    background-color: #00000010;

  }

  .nav-opcion {
    width: 100%;
    padding: 0px;
    display: flex;
  }

  .nav-opcion a {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: 400;
  }


  /* efecto alternancia */

  input:checked~.menu-enlaces {
    max-height: 100%;
  }


  /* section slide */

  .titulos {
    padding-top: 0px;
    text-align: center;
  }

  .titulo-red {
    padding-top: 15px;
    font-size: 1.8rem;
  }

  .subtitulo {
    padding-top: 5px;
    font-weight: 400;
    font-size: 0.9rem;
  }




  .texto {
    padding: 10px 5% 20px 5%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
  }

  .container-servicios {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 30px; */
  }

  .serv-img {

    padding: 0px;
    width: 80%;
    /* height: 100%; */
    display: flex;
    /* background-color: #cc2038; */
    /*     flex-wrap: wrap; */
  }

  .serv-img img {
    /* padding: 20px; */
    /* padding: 0px 15% 0px 15%; */
    width: 100%;
    height: 100%;
    display: flex;
    position: center center;

  }

  .serv-texto {
    padding: 30px 20px 10px 50px;
    width: 70%;
    height: 100%;
  }

  .serv-text-tit {
    font-weight: 400;
    font-style: normal;
    color: #cc2038;
    font-size: 1.9rem;
  }

  .serv-text-text {

    /* display: flex; */
    /* justify-content: center; */
    line-height: 30px;
    font-weight: 400;
    font-style: bold;
    text-align: justify;
    font-size: 1rem;
  }

  .titulo-red-hab {
    padding: 15px;
    font-size: 2rem;
  }











  /* DE LA PAGINA INDEX */
  .foot {
    padding: 2px;
    /* height: 20vh; */
    font-weight: 200;
    font-size: .9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
  }

  .logo-foot {
    max-width: 120px;
  }

  .ico-foot {
    max-width: 70px;
  }

  .t-foot {
    padding: 10px;
    font-size: .8rem;
    /* height: 30px; */
  }

}







































/* GRANDES - nav div  img logo ico GRANDES target-hab-info H- */


/* pantallas grandes  */

@media (min-width: 968px) {

  .logo-hamb {
    display: none;
  }

  .conmutador {
    display: none;
  }

  .ico-hamb {
    display: none;
  }

  header {
    height: 20%;
  }

  .todo-el-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .todo-el-menu a {
    padding: 11px;
    border-radius: 2px;
  }

  .nav-menu {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }

  .nav-opcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-opcion a {
    font-weight: 400;
    font-size: 1.1rem;
  }

  .nav-logo img {
    padding: 10px;
    width: 150px;
  }


  /* Section slide */

  /* Seccion Titulos */

  .titulos {
    padding-top: 30px;
    text-align: center;
}

.titulo-red {
    padding-top: 10px;
    font-size: 2.7rem;
    font-weight: 100;
}

.subtitulo {
    padding-top: 15px;
    font-weight: 400;
}

  .texto {
    padding: 20px 15% 20px 15%;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 35px;
    background-color: aliceblue;
  }

  .container-servicios {
    padding: 0px;


    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* align-content: center; */
    /* background-color: aqua; */

  }

  .serv-img {
    padding: 0px;
    width: 40%;
    /* display: flex;     */
    /* align-content: flex-end; */
    /* justify-content: flex-end; */
    /* /* flex-wrap: wrap; */
  }

  .serv-img img {
    /* padding: 0px; */
    width: 100%;
    height: 100%;
    position: center center;

  }

  .serv-texto {
    padding: 20px 20px 20px 80px;
    width: 30%;
    /* padding: 20px 0% 0px 80px; */
    /* padding-left: 60px;
    padding-right: 50px; */
    /* text-align: left; */
    /* justify-items:flex-start; */
    /* text-align: center; */
    /* padding-bottom: px;     */

  }

  .serv-text-tit {
    padding: 0px;
    /* padding-left: 30px; */
    /* font-family: "Ubuntu", serif; */
    font-weight: 400;
    font-style: normal;
    color: #cc2038;
    font-size: 2.1rem;
    /* width: 100%; */
    background-color: aqua;
  }

  .serv-text-text {

    /* display: flex;
  justify-content: center; */
    line-height: 30px;
    font-weight: 400;
    font-style: bold;
    text-align: justify;
    font-size: 1.1rem;
  }




  /* .div-enlace-res { */
  /*     padding: 0px; */
  /* display: flex;
    justify-content: center; */
  /*   } */

  /*   .t-enlace-res:hover {
    color: green;
    font-size: 1.4rem;
  } */

  .foot {
    /*     padding: 20px; */
    height: 25vh;
    font-weight: 200;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
  }

  .logo-foot {
    max-width: 180px;
  }

  .ico-foot {
    max-width: 100px;
  }



  .t-foot {
    padding: 10px;
    font-size: 1rem;
    /* height: 30px; */
  }

}