:root {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

* {
  margin: 0px;
  padding: 0px; 
  font-family: Ubuntu, serif;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: rgb(246, 174, 174); */


}

header {
  margin: 0;
  width: 100%;
  height: 20%;
  position: fixed;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(250, 250, 250, 0));

}

nav {
  margin: 0;
  width: 100%;
  /* background-color: blue; */
}

.logo-hamb {
  margin: 0;
  /* background-color: #3120cc; */
}

.logo-hamb img {
  margin: 0;
}

.nav-menu {
  margin: 0;
  /* padding: 0; */
  /* background-color: #cc2038; */
}



.nav-opcion {
  margin: 0;
  list-style-type: none;

}

.nav-opcion a {
  text-decoration: none;
  color: white;
  padding: 12px;
  border-radius: 2px;
  /* font-weight: 500; */
  /* font-size: 1rem; */
  /* font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal; */
}

.nav-opcion a:hover {
  background-color: red;
}

.paginaActiva {
  background-color: rgb(244, 76, 76);
}

.logo img {
  margin: 0;
  width: 150px;
  /* background-color: blue; */
  /* display: flex; */
  /* text-align: center; */
  /* padding: 10px; */
  /* width: 150px; */
  /* display: none; */

}

.ico-hamb {
  margin: 0;
  /* background-color: blueviolet; */
}

.ico-hamb i {
  margin: 0;
  color: white;
}

.slider-habitaciones {
  width: 100%;
  height: 59%;
  background: url(../img/Servicios/bg_contacto.jpg);
  background-size: cover;
  background-position: center center;
}

.titulo-pagina {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 220, 185);

}

.titulo-red-pag {
  margin: 0;
  color: rgb(206, 6, 6);
  text-align: center;
  /* font-style: normal; */
  /* background-color: aqua; */
}

.subtitulo {
  margin: 0;
  /* font-size: 1.1rem;
  font-weight: 400;
  font-style: normal;  
  text-align: center; */
  /* background-color: aqua; */
}

.texto {
  margin: 0;
  text-align: justify;
  font-style: normal;
  color: rgb(0, 0, 0);
  background-color: aliceblue;
}

.container-servicios {
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 20px 30px 20px 30px; */
  /* background-color: rgb(165, 127, 255); */
}

.serv-img {
  margin: 0;
  /* max-width: 45%; */
  /* flex-wrap: wrap; */
  /* background-color: azure; */
}

.serv-img img {
  margin: 0;
  /* width: 100%; */

}

.serv-texto {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 15px;
  /* background-color: bisque; */
}

.serv-text-tit {
  display: flex;
  margin: 0px;

  /* padding-left: 30px; */

  /* font-weight: 400;
  font-style: normal;
  color: #cc2038;
  font-size: 2.2rem; */

}

.serv-text-text {

  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 0px 30px 0px 0px; */
  /* padding: 40px 10px 40px 20px; */


  /* background-color: aquamarine; */
  /* font-size: 1.1rem; 
    line-height: 30px; */
}




.foot {

  margin: 0;
  background-color: rgb(120, 118, 118);
  color: rgb(255, 250, 250);
  font-family: "Ubuntu", serif;
  font-style: normal;
  width: 100%;
}

.foot-location {
  text-align: left;
}

.t-foot {
  font-family: monospace;
  text-align: center;
}







































/* CHICAS - nav div CHICAS img logo ico target- h- */


/* Pantallas pequeñas */

@media (max-width:967px) {

  body {
    margin: 0;
    /* background-color: rgb(214, 245, 208); */
  }

  nav {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .logo-hamb img {
    /* padding-top: 20px; */
    padding: 20px;
    max-width: 130px;
    /* display: none; */
  }

  .nav-menu {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 40px;
    display: none;
    /* gap: 20px; */
  }

  /* .nav-opcion {
    display: none;
  } */

  .logo img {
    display: none;
  }

  .ico-hamb {
    font-size: 30px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: end; */
  }

  .ico-hamb i {
    padding: 15px;
    font-size: 2rem;

  }

  .titulo-red-pag {
    /* padding: 30px; */
    padding-top: 20px;
    font-weight: 300;
    font-style: normal;
    font-size: 2.2rem;
  }

  .subtitulo {
    /* padding-left: 15%;
    padding-right: 15%; */
    padding: 15px 0% 10px 0%;
    font-size: 0.9rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

  .texto {
    padding: 10px 5% 20px 5%;
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
  }

  .container-servicios {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 30px; */
  }

  .serv-img {

    padding: 0px;
    width: 80%;
    /* height: 100%; */
    display: flex;
    /* background-color: #cc2038; */
    /*     flex-wrap: wrap; */
  }

  .serv-img img {
    /* padding: 20px; */
    /* padding: 0px 15% 0px 15%; */
    width: 100%;
    height: 100%;
    display: flex;
    position: center center;

  }

  .serv-texto {
    padding: 30px 20px 10px 50px;
    width: 70%;
    height: 100%;
  }

  .serv-text-tit {
    font-weight: 400;
    font-style: normal;
    color: #cc2038;
    font-size: 1.9rem;
  }

  .serv-text-text {

    /* display: flex; */
    /* justify-content: center; */
    line-height: 30px;
    font-weight: 400;
    font-style: bold;
    text-align: justify;
    font-size: 1rem;
  }

  .titulo-red-hab {
    padding: 15px;
    font-size: 2rem;
  }









  /* DE PAGINA HABITACIONES */


  .container-habitaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(197, 249, 176); */
  }



  /* .target-hab-img img { */
  /* padding: 0px; */
  /* width: 100%; */

  /* } */

  .target-habitacion {
    width: 100%;
    height: 630px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .target-hab-img {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 50%;
    display: flex;
    /* flex-wrap: wrap; */
  }

  .target-hab-img img {
    padding: 0px;
    width: 100%;
    /* height: 100%; */
    position: center;
  }

  .target-hab-info {
    /* background-color: antiquewhite; */
    /* padding: 10px 10px 10px 10px;     */
    /* margin: 0; */
    display: flex;
    justify-content: space-around;
    /* padding: 0px; */
    width: 100%;
    height: 45%;
  }

  .target-hab-info1 {
    padding: 15px;
    /* padding: 10px 10px 10px 10px; */
    /* padding-left: 20px; */
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: aqua; */
  }

  .h-tipo {
    /* font-family: "Ubuntu", serif; */
    /* padding: 10px; */
    color: rgb(206, 6, 6);
    /* pant grande */
    font-size: 1.4rem;
    font-weight: 400;
  }





  .target-hab-info2 {
    padding: 20px 0px 0px 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(180, 241, 241); */

  }


  .h-valoracion {
    background-color: rgb(244, 244, 103);
    border-radius: 15px;
    /* padding: 10px; */
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 400;
    gap: 0;
  }

  .h-desde {
    /* font-family: "Ubuntu", serif; */
    padding: 10px 0px 0px 0px;
    /* color: rgb(0, 0, 0); */
    /* pant grande */
    font-size: 1rem;
    font-weight: 400;
  }

  .h-precio {
    padding: 5px 0px 0px 0px;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .h-disponibles {
    padding: 20px;
    /* padding: 0px 0px 0px 0px; */
    /* color: rgb(42, 35, 185); */
    font-size: 1.2rem;
    font-weight: 400;
  }


  .div-enlace-res {
    padding: 0;
    width: 120px;
    border: 2px solid rgb(206, 6, 6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: aqua; */
  }

  .div-enlace-res:hover {
    /* border: 5px solid rgb(255, 255, 145); */
    border-radius: 10px;
    background-color: rgb(138, 253, 161);
  }

  .t-enlace-res {
    padding: 8px;
    /* padding-left: 20px; */
    color: rgb(206, 6, 6);
    font-size: 1.2rem;
    /* font-weight: bold; */
    /* text-decoration: none; */
    text-align: center;
  }

  /* .t-enlace-res:hover {
    color: green;
    font-size: 1.4rem;
  } */







  /* DE LA PAGINA INDEX */
  .foot {
    padding: 2px;
    /* height: 20vh; */
    font-weight: 200;
    font-size: .9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
  }

  .logo-foot {
    max-width: 120px;
  }

  .ico-foot {
    max-width: 70px;
  }

  .t-foot {
    padding: 10px;
    font-size: .8rem;
    /* height: 30px; */
  }

}







































/* GRANDES - nav div  img logo ico GRANDES target-hab-info H- */


/* pantallas grandes  */

@media (min-width: 968px) {

  header {
    padding: 0px;
    /* font-weight: 500; */
    font-style: normal;
    /* font-size: 1.1rem; */
  }

  nav {
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    /* gap: 80px; */
  }

  .logo-hamb {
    padding: 0;
    display: none;

  }

  .logo-hamb img {
    padding: 0;

  }

  .nav-menu {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 20px;
  }

  .nav-opcion {
    padding: 0;

    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
  }

  .nav-opcion a {
    font-weight: 400;
    font-size: 1.1rem;
  }

  .logo img {
    padding: 10px;
    /* display: none; */
  }

  .ico-hamb {
    padding: 0px;
    display: none;
  }

  .titulo-pagina {
    padding: 0px;
    /* padding: 30px;   */
    /* padding-top: 30px; */
    /* background-color: rgb(255, 220, 185); */
  }

  .titulo-red-pag {
    /* padding: 30px; */
    padding-top: 30px;
    font-weight: 300;
    font-style: normal;
    font-size: 2.7rem;
  }

  .subtitulo {
    /* padding-left: 15%;
    padding-right: 15%; */
    padding: 20px 15% 0px 15%;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

  .texto {
    padding: 20px 15% 20px 15%;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 35px;
    background-color: aliceblue;
  }

  .container-servicios {
    padding: 0px;


    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* align-content: center; */
    /* background-color: aqua; */

  }

  .serv-img {
    padding: 0px;
    width: 40%;
    /* display: flex;     */
    /* align-content: flex-end; */
    /* justify-content: flex-end; */
    /* /* flex-wrap: wrap; */
  }

  .serv-img img {
    /* padding: 0px; */
    width: 100%;
    height: 100%;
    position: center center;

  }

  .serv-texto {
    padding: 20px 20px 20px 80px;
    width: 30%;
    /* padding: 20px 0% 0px 80px; */
    /* padding-left: 60px;
    padding-right: 50px; */
    /* text-align: left; */
    /* justify-items:flex-start; */
    /* text-align: center; */
    /* padding-bottom: px;     */

  }

  .serv-text-tit {
    padding: 0px;
    /* padding-left: 30px; */
    /* font-family: "Ubuntu", serif; */
    font-weight: 400;
    font-style: normal;
    color: #cc2038;
    font-size: 2.1rem;
    /* width: 100%; */
    background-color: aqua;
  }

  .serv-text-text {

    /* display: flex;
  justify-content: center; */
    line-height: 30px;
    font-weight: 400;
    font-style: bold;
    text-align: justify;
    font-size: 1.1rem;
  }




  /* .div-enlace-res { */
  /*     padding: 0px; */
  /* display: flex;
    justify-content: center; */
  /*   } */

  /*   .t-enlace-res:hover {
    color: green;
    font-size: 1.4rem;
  } */

  .foot {
    /*     padding: 20px; */
    height: 25vh;
    font-weight: 200;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
  }

  .logo-foot {
    max-width: 180px;
  }

  .ico-foot {
    max-width: 100px;
  }



  .t-foot {
    padding: 10px;
    font-size: 1rem;
    /* height: 30px; */
  }

}